.App {
  text-align: center;
  height: 400vh;
  width: auto;
  overflow: hidden;
}

.banner {
  background-color: #0891B2;
  height: 110vh;
  width: 140vw;
  transform: translateX(-25%) translateY(-35%) rotate(-15deg);

}