.App {
  text-align: center;
  height: 400vh;
  width: auto;
  overflow: hidden;
}

.banner {
  background-color: #0891B2;
  height: 110vh;
  width: 150vw;
  transform: translateX(-24%) translateY(-25%) rotate(-15deg);

}